<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">All Subscribers</h3>
                    <p>You can manage your subscribers ..!</p>
                    <button class="btn  btn-warning ms-2 btn-theme" routerLink="/">Back To Dashboard</button>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card shadow-effect">
                <div class="card-body">
                    <table class="table row-border hover ">
                            <thead>
                                <th>No</th>
                                <th>Name</th>
                                <th>Title</th>
                              
                                
                            </thead>
                            <tbody *ngFor="let p of subs;let i =index">
                                <tr>
                                    <td>{{i+1}} </td>
                                    <td>{{p.data.name}}</td>
                                    <td>{{p.data.email}}</td>
                                   
<td>                                    <button class="btn btn-sm btn-danger ms-1" (click)="onDelete(p.id)" >Delete</button>
</td>
                                
                                </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>